@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:ital,wght@0,700;1,400&family=Pacifico&display=swap');

/* font-family: 'Bebas Neue', sans-serif; 
font-family: 'Noto Sans', sans-serif;
font-family: 'Pacifico', cursive;*/
h1{
     font-family: 'Pacifico', cursive;
     color: #EEAD1D;
}
h2{
   font-family: 'Noto Sans', sans-serif;
   font-weight: bold; 
}
h3{
    font-family: 'Noto Sans', sans-serif;
   font-weight: 400; 
}
*{
   font-family: 'Noto Sans', sans-serif;  
   font-weight: 400;
   margin: 0;
   padding: 0;
}

/* ------------------------------------------------------------------------ */
/* Sign in page */
.sign-in-up-body{
    background-image: url("../assets/Curtains-sign-up.png");
    background-position: center;
    background-size:cover;
    height: 100vh;
    
}
.sign-in-heading{
    font-size: 50px;
}
.container{
    height: 100%;
    
}
.sign-in-box{
    background-color: black;
    padding: 40px;
    border-radius: 8px;
    transition: width 1s height 1s;
}
.changeForm{
    color: white;
    
    
}
.changeForm:hover{
    color: #EEAD1D;
}
.sign-in-paragraph{
    color: white;
}
.form-error{
    color:#EEAD1D;
}
.overlay{
    width: 100%;
    height: inherit;
    background-color: rgba(0,0,0, 0.5);
}
.button-style{
    background-color: #EEAD1D;
    color: white;
    width: 75%;
    margin: 0 auto;
    font-size: large;
}
.button-style:hover{
    background-color: rgba(238,173,29,0.8);
    color: white;
}
.sign-in-logo{
    width: 40%;
    height: 40%;
}


.body{
    background-color: #091509;
}
/*Filter CSS library page*/
.lightbulb-button {
    border: 2px dotted #f5dc54; 
    border-radius: 5px; 
    background-color: #961503;
    color: #EEAD1D;
    padding: 10px 20px;
    margin: 5px;
    margin-top: -10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: border-color 0.3s, color 0.3s, transform 0.3s;
}

.lightbulb-button:hover {
    border-color: #f5dc54; 
    color: #ffff; 
    transform: scale(1.05); 
}

 /*navbar text color */
 .navbar-nav .nav-link {
    color: #EEAD1D;
    transition: color 0.3s, filter 0.3s, transform 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #EEAD1D; 
    filter: brightness(1.2); 
    transform: scale(1.05); 
}

/*Movie Library Title*/
h1 {
    font-family: 'Bebas Neue', sans-serif;
    color: transparent; 
    text-align: center;
    font-size: 80px;
    margin-top: 20px;
    background: linear-gradient(45deg, #961503, #f5dc54, #961503);
    background-clip: text; 
    -webkit-background-clip: text;
    animation: revealText 2s ease-in-out forwards;
}

@keyframes revealText {
    0% {
        background-size: 0% 100%;
    }
    100% {
        background-size: 100% 100%;
        color: #EEAD1D; /* Text color after reveal */
    }
}

/* Style for movie cards */
.movie-card {
    display: inline-block;
    width: 200px;
    color: #ffff;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;    
    background-color: #961503;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

/* Style for movie poster image */
.movie-card img {
    max-width: 100%;
    height: auto;
}

/* Style for movie title */
.movie-title {
    font-size: 1.2rem;
    margin: 10px 0;
}

/* Style for icon buttons */
.icon-buttons button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 5px;
    border-radius: 50%; /* Add round border to the buttons */
    width: 40px; /* Adjust button width for a circular appearance */
    height: 40px; /* Adjust button height for a circular appearance */
    transition: transform 0.3s;
}

/* Add hover effect for movie cards */
.movie-card:hover {
    box-shadow: 0px 5px 15px rgba(238, 173, 29);
}

/* Add hover effect for icon buttons */
.icon-buttons button:hover {
    transform: scale(1.2); /* Increase size on hover */
    filter: invert(100%);
}

.info-button {
    color: #EEAD1D; /* Yellow color for info button */
    margin-right: 100px;
   
}

.wishlist-button {
    color: #EEAD1D; /* Yellow color for wishlist button */
    margin-left: 100px;
    
}

/* Center movie cards horizontally */
.row.justify-content-center {
    text-align: center;
}


/* slider*/

.home-img{
    height: auto;
    width: 100%;
}

/*footer*/
.footer{
    width: 100%;
    height: 80px;
    background-color: #961503;
    color: #ffff;
    text-align: center;
    font-family: 'Pacifico', cursive;
}
@media (max-width: 576px) { 
   .movie-card{
    width: 100%;
   }
 }


/*individiual move page*/
.movie{
    width: auto;
    height: 250px;
}

.p-3{
    text-align: left;
}

.btn-sm{
    width: 150px;
    height: 50px;
    background-color: #EEAD1D;
    border-radius: 25%;
    border: none;
}




/* -------------------------------------------------- */
/* Watch List Page */
/* -------------------------------------------------- */

.table button {
    width: 203px;
    height: 50px;
    background-color: #EEAD1D;
    color: #ffffff;
    border: solid 2px #EEAD1D;
    border-radius: 5px;
    margin-top: 70px;
}

.table button:hover {
    width: 203px;
    background-color: #ffffff;
    color: #EEAD1D;
    border: solid 2px #EEAD1D;
    border-radius: 5px;
    margin-top: 70px;
}

.table{
    --bs-table-bg: #961503;
    --bs-table-color: #ffffff;
}